<div class="container grid-lg">

    <div class="column">
<h1 class='border-bottom-lg'>Title</h1>
        <img class='img-responsive' src='http://placehold.it/925x500'>
    </div>

    <div class="container grid-xs">
        <div class="card card-center">
            <div class="card-body">
                <img src="http://placehold.it/200x200/000000/ffffff" class="img-responsive-author circle">
            </div>
            <div class="card-header">
                <div class="card-title h5">Author</div>
                <div class="card-subtitle text-gray">Link to Blog if there</div>
            </div>
        </div>
    </div>
    <p class='mt-5'>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores deleniti, beatae ea, ut rem sint deserunt accusantium in voluptates doloremque consectetur voluptate doloribus. Est laudantium corrupti, dolorum ab molestias enim?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, quos. Velit, autem at! Enim magni natus iste itaque tenetur illo eveniet earum veniam quaerat repellendus unde, magnam officiis sit assumenda!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat repellat obcaecati laudantium pariatur quaerat illo laborum praesentium delectus quidem quam ipsam aperiam, dolore dicta, consectetur maxime possimus saepe asperiores recusandae.
    </p>
    <br>
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia ab unde exercitationem reprehenderit. Neque dicta et est sed. Ipsam, soluta. Quia enim laborum recusandae reprehenderit facere dicta cum dolorum sequi.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam neque nemo laborum, facere obcaecati praesentium perspiciatis ipsum dolore fugiat porro ad, perferendis ab, delectus in! Eum, quasi in! Voluptate, dicta.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse, praesentium molestiae consequatur illum delectus aut cupiditate omnis nulla pariatur quo aspernatur quod? Architecto porro ut provident quae, iusto totam fugit?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus beatae laborum corporis iste. Porro officiis sunt qui incidunt fugit voluptate totam earum, repellendus dolorem, molestiae doloremque facere quibusdam aut. Dignissimos.
    </p>
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex laudantium repudiandae commodi corrupti sit pariatur, provident aperiam accusantium at quasi optio iste nihil debitis, consectetur, delectus quos sed. Inventore, nulla.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati ad itaque debitis eaque quis non laborum possimus a error dolores expedita doloribus, similique, totam inventore suscipit odio ratione eos fugit.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima vero quaerat quasi quo itaque recusandae, iste corrupti accusantium odio repellendus ad deleniti. Iure impedit nemo distinctio. Recusandae deleniti autem minima.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, sed. Et, incidunt quam molestias deleniti, adipisci, assumenda quod nostrum unde corrupti odit reiciendis! A hic voluptates, exercitationem vero possimus quibusdam?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim odio in aspernatur laborum aliquam nemo, tempore asperiores facere id quibusdam cum voluptatem cupiditate dignissimos molestias nulla nam perferendis rerum! Cumque.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia esse pariatur a mollitia amet possimus! Enim voluptates, id doloribus laudantium veritatis dignissimos explicabo, reprehenderit corrupti doloremque cumque ipsum eos praesentium?
    </p>

</div>