<div class="container-grid-lg">
    <div class="column">
        <div class="column col-3">
            <% 3.times do %>
            <div class="card mb-3 rounded control-shadow">
                <div class="card-image">
                    <%= link_to image_tag("http://placehold.it/800x500/000000/ffffff", class: 'img-responsive') %>
                </div>
                <div class="card-header">
                    <div class="card-subtitle text-gray">Author</div>
                </div>
                <div class="card-body">
                    Title
                </div>
            </div>
            <% end %>
        </div>  
    </div>
</div>