<div class="container grid-xl">
  <div class='carousel' data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
    <div><h3>Image</h3></div>
    <div><h3>Image</h3></div>
    <div><h3>Image</h3></div>
    <div><h3>Image</h3></div>
    <div><h3>Image</h3></div>
    <div><h3>Image</h3></div>
  </div>
</div>