<div class="container grid-xl">
  <div class='carousel' data-slick='{"slidesToShow": 3, "slidesToScroll": 1}'>
    <% 6.times do %>
    <div><figure class="avatar badge" data-badge="8" data-initial="YZ">
      <img src="img/avatar-3.png" alt="YZ">
      </figure>
    </div>
    <% end %>  
  </div>
</div>