<div class="filter">
  <input type="radio" id="tag-0" class="filter-tag" name="filter-radio" hidden checked>
  <input type="radio" id="tag-1" class="filter-tag" name="filter-radio" hidden>
  <input type="radio" id="tag-2" class="filter-tag" name="filter-radio" hidden>
  <input type="radio" id="tag-3" class="filter-tag" name="filter-radio" hidden>

  <div class="filter-nav">
    <label class="chip" for="tag-0">All</label>
    <label class="chip" for="tag-1">Action</label>
    <label class="chip" for="tag-2">Roleplaying</label>
    <label class="chip" for="tag-3">None</label>
  </div>

  <h3>Current Articles</h3>

  <div class="filter-body">
    <div class="filter-item card" data-tag="tag-1">
      <%= render 'layouts/article_display_cards'%>
    </div>
    <div class="filter-item card" data-tag="tag-2">
      <%= 2.times do %>
      <%= render 'layouts/article_display_cards'%>
      <% end %>
    </div class="filter-item card" data-tag="tag-3">
  </div>
</div>